nous créons un plugin pour le logiciel electron Obsidian.

Le but est d'envoyer les médias qu'on copie dans obsidian, vers des api externes et de remplacer les liens par les liens des médias envoyés qui seront servi par leur CDN.
